swagger: "2.0"
info:
  description: "This is a basic API for setting and retrieving secret values from a server."
  version: "1.0.0"
  title: "Project Swordfish"
  contact:
    email: "eric@eamann.com"
  license:
    name: "MIT"
    url: "https://opensource.org/licenses/MIT"
host: "swordfish.displace.tech"
basePath: "/"
tags:
  - name: "front-end"
    description: "The public front-end of the application. An otherwise static web application."
  - name: "api"
    description: "The request/response API of the system used by both the front-end UI and CLI tools."
schemes:
  - "https"
paths:
  /:
    get:
      summary: "Get the static homepage for creating secrets."
      tags:
        - "front-end"
      produces:
        - "text/html"
      responses:
        "200":
          description: "OK"
  /secret:
    get:
      summary: "Get an empty secret retrieval page."
      tags:
        - "front-end"
      produces:
        - "text/html"
      responses:
        "200":
          description: "OK"
  /secret/{secretId}:
    get:
      summary: "Get a pre-populated secret retrieval page."
      tags:
        - "front-end"
      parameters:
        - name: "secretId"
          in: "path"
          description: "ID of secret to return"
          required: true
          type: "string"
      produces:
        - "text/html"
      responses:
        "200":
          description: "OK"

  /create:
    post:
      summary: "Create a new secret in the datastore."
      tags:
        - "api"
      consumes:
        - "application/json"
        - "text/plain"
      produces:
        - "application/json"
        - "text/plain"
      parameters:
        - in: "body"
          name: "body"
          description: "Secret to store. Use application/json for the new format or text/plain for the legacy format."
          required: true
          schema:
            type: "object"
            required:
              - "encrypted_secret"
            properties:
              encrypted_secret:
                type: "string"
                description: "Client-side encrypted secret payload."
              ttl:
                type: "integer"
                description: "Time-to-live in seconds (default: 86400)."
                default: 86400
              max_views:
                type: "integer"
                description: "Maximum number of times the secret may be retrieved (default: 1)."
                default: 1
      responses:
        "201":
          description: "Created"
          schema:
            type: "object"
            properties:
              id:
                type: "string"
                description: "Unique identifier for the stored secret."
              expires_at:
                type: "integer"
                description: "Unix timestamp when the secret expires."
              max_views:
                type: "integer"
                description: "Maximum number of allowed retrievals."
        "400":
          description: "Bad Request"
        "413":
          description: "Payload Too Large"
  /retrieve:
    post:
      summary: "Retrieve a secret from the datastore."
      tags:
        - "api"
      consumes:
        - "application/json"
        - "text/plain"
      produces:
        - "application/json"
        - "text/plain"
      parameters:
        - in: "body"
          name: "body"
          description: "Retrieval request. Use application/json for the new format or text/plain for the legacy format."
          required: true
          schema:
            type: "object"
            required:
              - "id"
            properties:
              id:
                type: "string"
                description: "ID of the secret to retrieve."
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
            properties:
              encrypted_secret:
                type: "string"
                description: "Client-side encrypted secret payload."
              views_remaining:
                type: "integer"
                description: "Number of retrievals remaining after this one."
              expires_at:
                type: "integer"
                description: "Unix timestamp when the secret expires."
        "400":
          description: "Bad Request"
        "404":
          description: "Not Found"