swagger: "2.0"
info:
  description: "This is a basic API for setting and retrieving secret values from a server."
  version: "1.0.0"
  title: "Project Swordfish"
  contact:
    email: "eric@eamann.com"
  license:
    name: "MIT"
    url: "https://opensource.org/licenses/MIT"
host: "swordfish.displace.tech"
basePath: "/"
tags:
  - name: "front-end"
    description: "The public front-end of the application. An otherwise static web application."
  - name: "api"
    description: "The request/response API of the system used by both the front-end UI and CLI tools."
schemes:
  - "https"
paths:
  /:
    get:
      summary: "Get the static homepage for creating secrets."
      tags:
        - "front-end"
      produces:
        - "text/html"
      responses:
        "200":
          description: "OK"
  /secret:
    get:
      summary: "Get an empty secret retrieval page."
      tags:
        - "front-end"
      produces:
        - "text/html"
      responses:
        "200":
          description: "OK"
  /secret/{secretId}:
    get:
      summary: "Get a pre-populated secret retrieval page."
      tags:
        - "front-end"
      parameters:
        - name: "secretId"
          in: "path"
          description: "ID of secret to return"
          required: true
          type: "string"
      produces:
        - "text/html"
      responses:
        "200":
          description: "OK"

  /health:
    get:
      summary: "Check service health including Redis connectivity."
      tags:
        - "api"
      produces:
        - "application/json"
      responses:
        "200":
          description: "Service is healthy"
          schema:
            type: "object"
            properties:
              status:
                type: "string"
                example: "ok"
        "503":
          description: "Service unavailable — Redis unreachable"
          schema:
            type: "object"
            properties:
              status:
                type: "string"
                example: "error"
              detail:
                type: "string"
                example: "redis unreachable"

  /api/create:
    post:
      summary: "Create a new secret in the datastore."
      tags:
        - "api"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "JSON payload containing the encrypted secret and storage parameters"
          required: true
          schema:
            type: "object"
            required:
              - "encrypted_secret"
              - "ttl"
              - "max_views"
            properties:
              encrypted_secret:
                type: "string"
                description: "Client-side encrypted secret payload"
              ttl:
                type: "integer"
                description: "Time-to-live in seconds (1–604800)"
                minimum: 1
                maximum: 604800
              max_views:
                type: "integer"
                description: "Maximum number of times the secret may be viewed"
                minimum: 1
      responses:
        "201":
          description: "Created"
          schema:
            type: "object"
            properties:
              id:
                type: "string"
                description: "Unique identifier for the stored secret"
                example: "a1b2c3d4e5f6"
              expires_at:
                type: "integer"
                description: "Unix timestamp when the secret expires"
                example: 1700000000
              max_views:
                type: "integer"
                description: "Maximum number of allowed views"
                example: 5
        "400":
          description: "Bad Request — invalid or missing fields"
          schema:
            type: "object"
            properties:
              error:
                type: "string"
        "413":
          description: "Payload Too Large"
          schema:
            type: "object"
            properties:
              error:
                type: "string"
        "503":
          description: "Service Unavailable — Redis unreachable"
          schema:
            type: "object"
            properties:
              error:
                type: "string"
  /api/retrieve:
    post:
      summary: "Retrieve a secret from the datastore."
      tags:
        - "api"
      consumes:
        - "text/plain"
      produces:
        - "text/plain"
      parameters:
        - in: "body"
          name: "body"
          description: "Serialized authentication request for a stored secret"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "OK"
        "400":
          description: "Bad Request"
        "401":
          description: "Unauthorized"
        "404":
          description: "Not Found"